/* GLOBAL STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #fff;
  color: #333333;
}

section {
  padding: 50px 20px;
}

/* HEADER */
header {
  background: rgb(98, 86, 156);
  color: white;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: orange;
}

/* HERO SECTION */
.hero {
  padding: 60px 20px;
  background: #f4f4f4;
}

.hero-img {
  width: 350px;
  max-width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
}

button:hover {
  background: orange;
}

/* MENU */
/* HEADINGS */
h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(98, 86, 156);
  font-weight: 700;
}

/* MENU BOXES */
.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu-item {
  width: 250px;
  padding: 15px 20px;
  background: #ffffff;
  border: 2px solid rgb(98, 86, 156);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  transition: 0.3s ease;
}

.menu-item:hover {
  background: rgb(98, 86, 156);
  color: white;
  transform: scale(1.05);
}


/* GALLERY */
.gallery-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-images img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-images img:hover {
  transform: scale(1.05);
}
html {
  scroll-behavior: smooth;
}